@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  padding: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;  
}

  /* HEADER STYLES FOR MATHPIX MARKDOWN RENDERER because tailwind dletes all styles of basic elements like h1 nad button */

.math-block{
    padding: 20px 20px;
    border-radius: 0.5rem;
    /* https://stackoverflow.com/questions/32616525/allow-a-drop-down-element-to-overflow-a-container-that-has-hidden-or-scrolled-ov */
    /* overflow: auto; */  
    color: #333;
    position: relative;
    display: block;
}


.math-block-menu{
    @apply absolute top-1/2 right-0 transform translate-y-[-50%] z-10 ;
}

.math-block-menu-inside{
    @apply hidden ;
}


.math-block:hover .math-block-menu-inside{
    @apply block ;
}

.renderer code {
  display: inline-block;
  padding: 2px 5px;
  margin: 5px 0px;
  background-color: #f4f4f4;
  color: #333;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  border-radius: 4px;
}


.renderer pre {
  display: block;
  /* overflow-x: auto; */
}

.renderer code.hljs {
  @apply p-2 block my-4 overflow-auto ;
}

.renderer a {
   @apply text-accent hover:underline ;
}

.renderer div{
  @apply my-2;
}


.renderer .smiles {
  overflow-x: auto;
  /* display: flex;
  justify-content: center ; */
}
/* 

.renderer .smiles > svg {
  width: auto !important;
  height: auto !important;
}

 */


.renderer ul {
  list-style-type: disc;
  padding-left: 20px;
}

.renderer ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.renderer li {
  margin: 5px 0;
}

.renderer table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.renderer table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.renderer table th {
  background-color: #f2f2f2;
}

.renderer table tr:hover {
  background-color: #f5f5f5;
}

.renderer table td:first-child {
  border-left: none;
}

.renderer table td:last-child {
  border-right: none;
}

.renderer img {
  @apply rounded-md max-w-full max-h-[1000px] cursor-pointer hover:brightness-105;
}

.renderer svg {
  @apply inline;
}



/* Style for h1 */
h1 {
  font-size: 1.6rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 1.5rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}

/* Style for h2 */
h2 {
  font-size: 1.5rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 1.25rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}

/* Style for h3 */
h3 {
  font-size: 1.4rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 1rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}

/* Style for h4 */
h4 {
  font-size: 1.3rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 0.75rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}

/* Style for h5 */
h5 {
  font-size: 1.2rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 0.5rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}

/* Style for h6 */
h6 {
  font-size: 1.1rem; /* You can adjust the size as needed */
  font-weight: bold;
  margin: 0.25rem 0; /* Adjust top and bottom margins as needed */
  line-height: 1.4; /* Increase line-height for two-line headers */
}
